{% extends "bootstrap/base.html" %} {% block title %}FC Sit Flight Planner{%
endblock %} {% block scripts %}
{{ collapsible.js }}
{{ super() }}
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML"
  async
></script>
<script>
  $(document).ready(function() {
    $("#compute").click(function() {
      // hide the cards
      $("#cards")
        .children()
        .each(function() {
          $(this).css("display", "None");
        });
      $.ajax({
        url: "{{ url_for('calculate_table') }}",
        type: "GET",
        data: { source: $("#source").val(), desti: $("#dest").val() },
        contentType: "application/json; charset=utf-8"
      }).done(function(reply) {
        $("#resultBody").empty();
        routes = JSON.parse(reply);
        $.each(routes, function(index, value) {
          let current_id = `row${index}`;
          let current_paths_id = `paths${index}`;
          $("#resultBody").append(
            `<tr class="active" id=${current_id}>
                <td>${index + 1}</td>
                <td id=${current_paths_id}>${value[0]}</td>
                <td>${value[1]}</td>
                <td>${value[2] +
                  " (" +
                  (parseFloat(value[2].substring(0, value[2].length - 1)) < 0
                    ? "Negative"
                    : "Positive") +
                  ")"}</td>
                <td>${value[3]}</td>
                <td>${value[4]}</td>
              </tr>`
          );
          // on click change image
          $(`#${current_id}`).click(function() {
            let current_paths = $(`#${current_paths_id}`).text();
            let current_paths_list = current_paths.split("->");
            let current_paths_list_min = [];
            current_paths_list.forEach(function(item) {
              current_paths_list_min.push(item.substring(0, 4));
            });
            let is_right = false;
            $("#cards")
              .children()
              .each(function() {
                if (
                  current_paths_list_min.indexOf(this.id) != -1 &&
                  this.id != "Mala"
                ) {
                  $(this).css("display", "inline-block");
                  // if pull-right when not necessary
                  if (!is_right && $(this).hasClass("pull-right"))
                    $(this).removeClass("pull-right");
                  else if (is_right && !$(this).hasClass("pull-right"))
                    $(this).addClass("pull-right");
                  is_right = !is_right;
                  // get percentage for card
                  $.ajax({
                    url: "{{ url_for('get_pct') }}",
                    type: "GET",
                    data: {
                      country: $(`#h${this.id}`).html()
                    },
                    contentType: "application/json; charset=utf-8"
                  }).done(function(r) {
                    let pcts = JSON.parse(r);
                    id = pcts["id"];
                    $(`#pw${id}`).text(
                      `Percentage of positive words: ${pcts["pct"][0]}% (${
                        pcts["pct"][1]
                      })`
                    );
                    $(`#nw${id}`).text(
                      `Percentage of negative words: ${pcts["pct"][2]}% (${
                        pcts["pct"][3]
                      })`
                    );
                    $(`#ntw${id}`).text(
                      `Percentage of neutral words: ${pcts["pct"][4]}% (${
                        pcts["pct"][5]
                      })`
                    );
                  });
                } else {
                  $(this).css("display", "None");
                }
              });
          });
        });
        $("#best_routes").css("opacity", "1");
      });
    });
  });
</script>
{% endblock %} {% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('.static', filename='style.css')}}" />
<link
  href="https://fonts.googleapis.com/css?family=Pacifico"
  rel="stylesheet"
/>
<link
  rel="shortcut icon"
  href="{{ url_for('static', filename='favicon.ico') }}"
/>
{% endblock %}{% block navbar %}
<div class="navbar navbar-fixed-top">
  <!-- ... -->
</div>
{% endblock %} {% block content %}
<div class="container">
  <div id="circle-border">
    <h1 class="text-center" id="title">FC Sit Flight Planner</h1>
  </div>
  <button
    id="collapsible_collapse"
    class="center-block btn btn-danger btn-lg"
    style="margin-top:30px"
  >
    Show map
  </button>

  {{ collapsible.html }}

  <div
    class="jumbotron"
    style="background-color:white; margin-top:30px; border-style: solid; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"
  >
    <form>
      <fieldset>
        <div class="form-group">
          <label for="source">Flight From</label>
          <select id="source" class="form-control" disabled>
            <option value="Malaysia - Kuala Lumpur (KUL)"
              >Malaysia - Kuala Lumpur (KUL)</option
            >
          </select>
        </div>
        <div class="form-group">
          <label for="dest">Flight To</label>
          <select id="dest" class="form-control">
            {% for option in options%} {% if "KUL" not in option %}
            <option value="{{ option }}">{{ option }}</option>
            {% endif %} {% endfor %}
          </select>
        </div>
        <button
          type="button"
          class="btn btn-danger center-block btn-lg"
          style="margin-top:30px;"
          id="compute"
        >
          Find the best routes
        </button>
      </fieldset>
    </form>
  </div>
  <div id="best_routes" style="opacity:0;">
    <img
      src="static/images/barchart.png"
      style="margin-top: 30px; width: 100%; border-width: 3px; border-style: solid; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"
      alt=""
    />
    <div id="little-circle-border">
      <h1 class="text-center" id="resultText">
        Your Suitable Routes
      </h1>
    </div>
    <div class="table-responsive">
      <table class="table" style="margin-top:30px;" id="resultTable">
        <thead>
          <tr style="background-color:red; color:white">
            <th>Rank</th>
            <th>Paths</th>
            <th>Total Distance (KM)</th>
            <th>Average Political Sentiment Results</th>
            <th>Score*</th>
            <th>Probability Distribution of Users</th>
          </tr>
        </thead>
        <tbody id="resultBody"></tbody>
      </table>
    </div>
    <p class="text-center">
      *Click on any row for more information. The formula for score calculation
      is as follows:
    </p>
    <p style="margin-bottom: 100px; overflow-x: auto;" class="text-center">
      $$Score = {LongestDistance - Distance \over LongestDistance -
      ShortestDistance} \times 70 + {PoliticalSentimentResults+100 \over 200}
      \times 30$$
    </p>
  </div>
  <div class="row justify-content-center" id="cards">
    <div class="card card-default col" id="Aust" style="display:None;">
      <span class="card-img">
        <img
          src="static/images/Australia - Melbourne (MEL).png"
          class="img-responsive"
          style="height: 450px;"
        />
      </span>
      <span class="card-body">
        <span class="h3 heading" id="hAust">Australia - Melbourne (MEL)</span>
        <p id="pwAust">Percentage of positive words: 0%</p>
        <p id="nwAust">Percentage of negative words: 0%</p>
        <p id="ntwAust">Percentage of neutral words: 0%</p>
      </span>
    </div>
    <div
      class="card card-default col pull-right"
      id="Brun"
      style="display:None;"
    >
      <span class="card-img">
        <img
          src="static/images/Brunei - Brunei (BWN).png"
          class="img-responsive"
          style="height: 450px;"
        />
      </span>
      <span class="card-body">
        <span class="h3 heading" id="hBrun">Brunei - Brunei (BWN)</span>
        <p id="pwBrun">Percentage of positive words: 0%</p>
        <p id="nwBrun">Percentage of negative words: 0%</p>
        <p id="ntwBrun">Percentage of neutral words: 0%</p>
      </span>
    </div>
    <div class="card card-default col" id="Chin" style="display:None;">
      <span class="card-img">
        <img
          src="static/images/China - Beijing (PEK).png"
          class="img-responsive"
          style="height: 450px;"
        />
      </span>
      <span class="card-body">
        <span class="h3 heading" id="hChin">China - Beijing (PEK)</span>
        <p id="pwChin">Percentage of positive words: 0%</p>
        <p id="nwChin">Percentage of negative words: 0%</p>
        <p id="ntwChin">Percentage of neutral words: 0%</p>
      </span>
    </div>
    <div
      class="card card-default col pull-right"
      id="Indo"
      style="display:None;"
    >
      <span class="card-img">
        <img
          src="static/images/Indonesia - Bali (DPS).png"
          class="img-responsive"
          style="height: 450px;"
        />
      </span>
      <span class="card-body">
        <span class="h3 heading" id="hIndo">Indonesia - Bali (DPS)</span>
        <p id="pwIndo">Percentage of positive words: 0%</p>
        <p id="nwIndo">Percentage of negative words: 0%</p>
        <p id="ntwIndo">Percentage of neutral words: 0%</p>
      </span>
    </div>
    <div class="card card-default col" id="Japa" style="display:None;">
      <span class="card-img">
        <img
          src="static/images/Japan - Haneda (HND).png"
          class="img-responsive"
          style="height: 450px;"
        />
      </span>
      <span class="card-body">
        <span class="h3 heading" id="hJapa">Japan - Haneda (HND)</span>
        <p id="pwJapa">Percentage of positive words: 0%</p>
        <p id="nwJapa">Percentage of negative words: 0%</p>
        <p id="ntwJapa">Percentage of neutral words: 0%</p>
      </span>
    </div>
    <div
      class="card card-default col pull-right"
      id="Mala"
      style="display:None;"
    >
      <span class="card-img">
        <img
          src="static/images/Malaysia - Kuala Lumpur (KUL).jpg"
          class="img-responsive"
          style="height: 450px;"
        />
      </span>
      <span class="card-body">
        <span class="h3 heading" id="hMala">Malaysia - Kuala Lumpur (KUL)</span>
        <p id="pwMala">Percentage of positive words: 0%</p>
        <p id="nwMala">Percentage of negative words: 0%</p>
        <p id="ntwMala">Percentage of neutral words: 0%</p>
      </span>
    </div>
    <div class="card card-default col" id="Sing" style="display:None;">
      <span class="card-img">
        <img
          src="static/images/Singapore - Changi (SIN).png"
          class="img-responsive"
          style="height: 450px;"
        />
      </span>
      <span class="card-body">
        <span class="h3 heading" id="hSing">Singapore - Changi (SIN)</span>
        <p id="pwSing">Percentage of positive words: 0%</p>
        <p id="nwSing">Percentage of negative words: 0%</p>
        <p id="ntwSing">Percentage of neutral words: 0%</p>
      </span>
    </div>
    <div class="card card-default col" id="Taiw" style="display:None;">
      <span class="card-img">
        <img
          src="static/images/Taiwan - Taipei (TPE).png"
          class="img-responsive"
          style="height: 450px;"
        />
      </span>
      <span class="card-body">
        <span class="h3 heading" id="hTaiw">Taiwan - Taipei (TPE)</span>
        <p id="pwTaiw">Percentage of positive words: 0%</p>
        <p id="nwTaiw">Percentage of negative words: 0%</p>
        <p id="ntwTaiw">Percentage of neutral words: 0%</p>
      </span>
    </div>
    <div
      class="card card-default col pull-right"
      id="Thai"
      style="display:None;"
    >
      <span class="card-img">
        <img
          src="static/images/Thailand - Don Mueang (DMK).png"
          class="img-responsive"
          style="height: 450px;"
        />
      </span>
      <span class="card-body">
        <span class="h3 heading" id="hThai">Thailand - Don Mueang (DMK)</span>
        <p id="pwThai">Percentage of positive words: 0%</p>
        <p id="nwThai">Percentage of negative words: 0%</p>
        <p id="ntwThai">Percentage of neutral words: 0%</p>
      </span>
    </div>
    <div class="card card-default col" id="Viet" style="display:None;">
      <span class="card-img">
        <img
          src="static/images/Vietnam - Hanoi (HAN).png"
          class="img-responsive"
          style="height: 450px;"
        />
      </span>
      <span class="card-body">
        <span class="h3 heading" id="hViet">Vietnam - Hanoi (HAN)</span>
        <p id="pwViet">Percentage of positive words: 0%</p>
        <p id="nwViet">Percentage of negative words: 0%</p>
        <p id="ntwViet">Percentage of neutral words: 0%</p>
      </span>
    </div>
  </div>
</div>
<div class="footer">
  <h5>
    &copy2019 FC Sit Group. Your usage of FC Sit Flight Planner indicates that
    you agree to be bound by our Terms and Conditions, Terms of Use and Privacy
    Policy. This website is owned and operated by FC Sit Group.
  </h5>
</div>
{% endblock %}
